rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // User can only read/write their own user document
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    // Memories can only be read/written by their owner.
    match /memories/{memoryId} {
      allow read, write: if request.auth != null && get(/databases/$(database)/documents/memories/$(memoryId)).data.ownerUid == request.auth.uid;
      
      // Blocks can be read/written by the owner of the parent memory.
      match /blocks/{blockId} {
        allow read, write: if request.auth != null && get(/databases/$(database)/documents/memories/$(memoryId)).data.ownerUid == request.auth.uid;
      }
    }
    
    // Assets can be created by any signed-in user, but only read/updated/deleted by the owner.
    match /assets/{assetId} {
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.ownerUid == request.auth.uid;
    }

  }
}
